.header {
	margin: 0;
	background-image: url(../images/background3.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
}

h2 {
	text-align: center;
}

.card-header {
	background-size: cover;
	height: 200px;
	background-repeat: no-repeat;
	background-position: center center;
}

.background {
background:
radial-gradient(black 15%, transparent 16%) 0 0,
radial-gradient(black 15%, transparent 16%) 8px 8px,
radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 0 1px,
radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 8px 9px;
background-color:#282828;
background-size: 16px 16px;
}
  
